<li class="nav-dropdown-container learn">
  <a class="nav-link<%- page.path.match(/\/(guide(?!\/team.html$)|api|cases|examples|vendors)(\/|$)/) ? ' current' : '' %>">如何学习</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="<%- url_for("/v2/guide/") %>" class="nav-link<%- page.path.match(/\/guide(\/|$)/) ? ' current' : '' %>">科普软文</a></li>
      <li><a href="<%- url_for("/v2/examples/") %>" class="nav-link<%- page.path.match(/\/examples(\/|$)/) ? ' current' : '' %>">实战分享</a></li>
      <li><a href="<%- url_for("/v2/search/") %>" class="nav-link<%- page.path.match(/\/search(\/|$)/) ? ' current' : '' %>">站内搜索</a></li>
      <li><a href="<%- url_for("/v2/cases/") %>" class="nav-link<%- page.path.match(/\/cases(\/|$)/) ? ' current' : '' %>">行业案例</a></li>
      <li><a href="<%- url_for("/v2/vendors/") %>" class="nav-link<%- page.path.match(/\/vendors(\/|$)/) ? ' current' : '' %>">供应商大全</a></li>
    </ul></li>
  </ul>
</li>
